@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src: url('/src/static/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  src: url('/src/static/fonts/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 700;
  src: url('/src/static/fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype');
}
